name: CI
permissions:
  contents: read

on:
  push:
    branches: ['**']

jobs:

  release:
    if: github.event_name == 'push' && contains(fromJSON('["refs/heads/master", "refs/heads/master/dx-546-update-to-gha"]'), github.ref)
    permissions:
      contents: write
      id-token: write
      actions: read
    uses: ./.github/workflows/release.yaml
    secrets:
      VAULT_URL: ${{ secrets.VAULT_URL }}
